# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django & Databases
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
PlanAProject/qdrant_storage/
PlanAProject/db.sqlite3

# Media & Uploads
PlanAProject/media/extracted_images/*
!PlanAProject/media/extracted_images/.gitkeep
PlanAProject/media/uploaded_documents/2026/09/05/

# Environments & Large Datasets
.env
*.env
PlanAProject/.env
.venv/
venv/
ENV/
env/
data/
ZeroToCAD_sample/
PlanAProject/media/uploaded_documents/*
!PlanAProject/media/uploaded_documents/.gitkeep
*.tar.gz
*.zip
*.7z
*.iso

# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db
.gemini/
