# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/
*.swp
*.bak

# Django
db.sqlite3
media/
staticfiles/
.env

# OS
.DS_Store
Thumbs.db

# Logs
explorer_logs/

# Temporary and Scratch Directories
scratch/
scripts/
*.docx
~$*.docx
*.ipynb
.ipynb_checkpoints/

